/* Remove Browser styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* Variable declarations */
:root{
    --Primary: #e52165;
    --Primary-light:#e521668a;
    --Secondary: #0d1137;
    --Secondary-light:#0d1137be;
}

::selection {
    background-color: var(--Primary);
    color: var(--Secondary);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.fa-bars{
    color:white;
    
}
.burger {
    display: none;
    cursor: pointer;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
}

.btn {
    color: white;
    display: inline-block;
    background-color: var(--Primary);
    padding: 10px 18px;
    transition: 300ms;
    border-radius: 25px;
}
.btn:hover {
    transform: translateY(-10px);
}

.flex-design {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
}
.mb {
    margin-bottom: 3rem;
}
.mt {
    margin-top: 5rem;
    
}

header {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.048), black), url(/images/TAMIL.jpg);
    background-size: cover;
    background-position: right;
    position: relative;
    
}

.header-content {
    padding: 0 2rem;
    background-color: var(--Secondary);
    height: 12vh;
}

.logo { 
    height: 50px;
}

.nav-links {
    width: 40%;
   
}

.nav-links a {
    color: white;
}

.nav-links li::after {
    content: '';
    display: block;
    background-color: var(--Primary);
    height: 2px;
    width: 0%;
    transform: scaleX(0);
    transition:  transform 300ms;
}

.nav-links li:hover::after {
    width: 100%;
    transform:scaleX(1);
}


@media only screen and (max-width:600px) {
    .nav-links{
        position: absolute;
        flex-direction: column;
        background-color: var(--Secondary-light);
        right: -10rem;
        top: 12vh;
        height: 50vh;
        width: 0%;
        padding: 1.5rem 0;
        transition: all 400ms;
    }
    .burger {
        display: block;
    }

    .nav-show{
        width: 100%;
        right: 0px;
    }
  
}

.text-center {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    transition: all 300ms;
}

.text-center h1 {
    margin: 1.2rem 0;
}


@media only screen and (max-width:944px) {
    
    .text-center {
        width: 100%;
    }
    
    .textareahide {
        left: -15rem;
    }
}
 

.heading {
    text-align: center;
    margin-bottom: 2rem;
        
}

.wwa-box {
    background-color: var(--Primary);
    padding: 20px;
    margin-left: 10px;
    text-align: center;
    color: white;
}
.wwa-box h3 {
    margin-bottom: 5px;
}

.wwa-box:first-child {
    margin-left: 0;
}
.wwa-box:hover {
    box-shadow: 3px 5px 11px 0px black;
}

@media only screen and (max-width:858px) {
    .wwa-content {
        flex-direction: column;
    }

    .wwa-box {
        margin-left: 0px;
        margin-top: 15px;
    }

    .wwa-box:first-child {
        margin-top: 0;
    }
}

.course_img {
    position: relative;
}
.course_img img {
    display: block;
}

.course_img::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scale(0,1);
    transform-origin: right;
    background-color: rgba(0, 0, 0, 0.25);
    transition: transform 300ms;
}
.course:hover .course_img::after {
    transform: scale(1);
    transform-origin: left;
}
.course{
    position: relative;
}
.course_content{
    position: absolute;
    top: 80%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
    font-size: 1.5rem;
    transition: top 300ms, opacity 350ms;
    transition-delay: 200ms;
}
.course:hover .course_content{
    top: 50%;
    opacity: 1;
}

.course-content {        
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
}

.fac {
     background-color: var(--Primary);
     margin-bottom: 10px;
     position: relative;
}
 
.fac-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start ;
}

.fac-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    /* opacity: 0; */
    z-index: -1;
    /* visibility: hidden; */
    transition: z-index 300ms;

}
.fac-image  img{
    display: block;
}

.fac-image {
    position: relative;
    left: 20px;
    padding: 20px 0;
    transition: left 800ms;
}
.fac:hover .fac-image {
    left: 80%;
    transition: left 300ms, opacity 800ms ;
}

.fac:hover .fac-image>img {
    box-shadow: 30px 0px 300px 3px black;

}

.fac:hover .fac-text {
    z-index: 1;
    transition: z-index 700ms;
}

@media only screen and (max-width:920px) {
    .fac:hover .fac-image {
        opacity: 0;
    }
}

.footer-log {
    height: 130px;
    width: 130px;
}
.footer-top{
    background-color: var(--Secondary);
    color: white;
}
.footer-links a {
    color: white;
}

.footer-bottom {
    background-color: var(--Secondary-light);
    text-align: center;
    color: white;
    padding: 0.6rem 0;

}

.footer-top-container {
    display: flex;
}


@media only screen and (max-width:762px) {
    .footer-top-container {
        flex-direction: column;
    }
    .footer-links {
        margin-bottom: 1rem;
    }
    .footer-college {
        text-align: center;
    }
}


.about-us-text {
    position: relative;
    padding: 0 2rem;
}
.about-us-text::after{
    content: '';
    position: absolute;
    inset: -100px 0 0 -100px;
    background-image: url(images/logo2.png);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.08;
    z-index: -1;
}

.student{
    margin-top: 1rem;
}

.student-text {
    width: 100%;
    padding: 2rem;
    line-height: 1.8rem;
}

.student:nth-child(even){
    flex-direction: row-reverse;
}

.our-students {
    background-color:  var(--Secondary-light);
    padding: 3rem;
    color: white;
}


@media only screen and (max-width:840px) {
    .student,.student:nth-child(even) {
        flex-direction: column;
    }

    .student-text {
        padding: 1.5rem;
    }
}

.register-now-content  {
    padding: 0 2rem;
    text-align: center;
}

.register-now {
    background-color: var(--Primary-light);
    padding: 2rem 0;
}
.register-now-heading {
    color: white;
}

/* Course Table */

.course-table-section {
    background-color: var(--Primary-light);
    padding: 2rem 0;
}

.course-table-content {
    max-width: 600px;
    text-align: center;

}

.course-table tr {
    transition: transform 300ms;
}

.course-table tr:not(:first-child):hover {
    transform: scale(1.01);
}

.course-table {
    width: 100%;
    border-collapse: collapse;
    filter: drop-shadow(-20px -10px 20px);
}

.course-table th, .course-table td {
    padding: 1rem 0;
}

.course-table th {
    color:  var(--Secondary);
    background-color:  white;
}
.course-table tr:nth-child(odd){
    background-color: var(--Secondary);
    color: white;
}

.course-table tr:nth-child(even){
    background-color: var(--Primary);
    color: white;
}

.course-table tr a {
    color: white;
    text-decoration: none;
    background-color: green;
    padding: 6px 10px;
}
.center i {
    color: var(--Primary);
    margin-right: 10px;
}
.center i {
    transition: transform 300ms;
}
.center:hover i {
     transform: translate(20px,-15px) scale(1.3);
}

.info-center-content {
    display: grid;
    grid-row-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
}

input, textarea {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    padding: 6px;
    border: none;
    border-bottom: 1px solid var(--Primary-light);
}
input:focus, textarea:focus {
    border: none;
    color: white;
    outline: none;
    background-color: var(--Primary-light);
    border-bottom: 2px solid var(--Primary-light);
}

.form h2 {
    display: inline-block;
}

.form h2::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--Primary);

}